<div class="container">
	<br>
	<h3>Start Online Test</h3>
	<p>Dear user,</p>
	<p>Please go through the online test instructions before you commence the test.</p>
	<p style="color:green; font-weight:bold">Online test instructions</p>
		
	<ol>
		<li>The test is of total 50 marks</li>
		<li>There will be total 50 questions to be completed in 60 minutes</li>
		<li>On commencing the online test, the clock displays the remaining duration of the test</li>
		<li>You can navigate through the questions using the Next and Previous buttons</li>
		<li>Once you have completed the Online test you can click on "Submit" to submit the test</li>
		<li style="color:red">Do not click the submit button unless you have finished the test.</li>
		
	</ul>
		<span style="color:blue; font-weight:bold; font-family:'Calibri'">All The Best</span><br><br>
	<button ng-click="begin()" class="btn">Begin</button>	
</div>
